@model Orders

@{
    ViewBag.Title = "OrdersPDF";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders PDF</title>
    <link href="~/Styles/orderspdf.css" rel="stylesheet" />
</head>
<body>

    <h1>Orders</h1>

    <table>
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Stock</th>
                <th>Order Type</th>
                <th class="text-right">Quantity</th>
                <th class="text-right">Price</th>
                <th class="text-right">Trade Amount</th>
            </tr>
        </thead>
        <tbody>
            @* List BuyOrders *@
            @foreach (var buyOrder in Model.BuyOrders!)
            {
                <tr>
                    <td>@buyOrder.DateAndTimeOfOrder.ToString("dd MMMM yyyy hh:mm:ss tt")</td>
                    <td>@buyOrder.StockName (@buyOrder.StockSymbol)</td>
                    <td>Buy Order</td>
                    <td class="text-right">@buyOrder.Quantity</td>
                    <td class="text-right">@buyOrder.Price.ToString("c")</td>
                    <td class="text-right">@buyOrder.TradeAmount.ToString("c")</td>
                </tr>
            }

            @* List SellOrders *@
            @foreach (var sellOrder in Model.SellOrders!)
            {
                <tr>
                    <td>@sellOrder.DateAndTimeOfOrder.ToString("dd MMMM yyyy hh:mm:ss tt")</td>
                    <td>@sellOrder.StockName (@sellOrder.StockSymbol)</td>
                    <td>Sell Order</td>
                    <td class="text-right">@sellOrder.Quantity</td>
                    <td class="text-right">@sellOrder.Price.ToString("c")</td>
                    <td class="text-right">@sellOrder.TradeAmount.ToString("c")</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>